.list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  &__tickets {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__button {
    height: 50px;
    border: none;
    background-color: #2196F3;
    border-radius: 5px;
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
  }
}